@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.findPw{
    position: absolute;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.findPw > h2{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}
#findPw-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #F8F8F8;
    margin-bottom: 5px;
    outline: none;
}
#findPw-form > input:focus{
    background-color: rgba(224, 224, 224, 0.644);
}
#findPw-form > input::placeholder{
    color: #cacaca;
}
#findPw-form > input[id="checkbutton"]{
    font-size: 16px;
    color: black;
    background-color: white;
    margin-top: 20px;
    border-radius: 50px;
    border: rgb(189, 185, 185) solid;
    width: 50%;
    height: 48px;
    margin-left: 75px;
}
#findPw-form > input[id="checkbutton"]:hover{
    background-color: #ebebeb;
}
.memberinfo{
    border: none;
}
span{
    display: block;
    margin-bottom: 20px;
    color: rgb(238, 21, 21);
    font-size: 13px;
}
.title{
    float: left;
}
.closebutton{
    float: right;
    margin-bottom: 30px;
}
#closebutton{
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
    font-size: 20px;
}