@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.login{
    position: absolute;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login > h2{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #F8F8F8;
    margin-bottom: 5px;
    outline: none;
}
#login-form > input:focus{
    background-color: rgba(224, 224, 224, 0.644);
}
#login-form > input::placeholder{
    color: #cacaca;
}
#login-form > input[type="submit"]{
    font-size: 16px;
    color: black;
    background-color: white;
    margin-top: 20px;
    border-radius: 50px;
    border: rgb(189, 185, 185) solid;
    width: 50%;
    height: 48px;
    margin-left: 75px;
}
#login-form > input[type="submit"]:hover{
	background-color: #ebebeb;
}
.memberinfo{
    border: none;
}
#login-form > a{
    margin-left: 240px;
}
span{
    display: block;
    margin-bottom: 20px;
    color: rgb(238, 21, 21);
    font-size: 13px;
}
.chk_box {
    display: block; position: relative; padding-left: 25px; margin-bottom: 10px; cursor: pointer; font-size: 14px; 
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; 
}

.chk_box input[type="checkbox"] {
    display: none; 
}
.on {
    width: 15px; height: 15px; background: #ddd; position: absolute; top: 2px; left: 0; 
}

.saveid{
    color: black;
    margin-left: -5px;
    font-size: 14px;
}
.chk_box input[type="checkbox"]:checked + .on {
    background: gray; 
}
.on:after {
    content: ""; position: absolute; display: none; 
}
.chk_box input[type="checkbox"]:checked + .on:after {
    display: block; 
}
.on:after {
    width: 2px; height: 6px; border: solid #fff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 6px; top: 2px; 
}
.checkid{
    width: 200px;
    float: left;
}
.register{
    float: right;
}
.findInfo{
    margin-top: 20px;
    margin-left: 55px;
}
#errorlogin{
    margin-left: 13px;
    margin-top: 5px;
}
.title{
    float: left;
    font-size: 16px;
}
.closebutton{
    float: right;
    margin-bottom: 30px;
}
#closebutton{
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
  text-decoration: underline;
}