<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Detaillist">


	<resultMap type="DetailDto" id="detaillistMap">
		<result property="recipe_num" column="RECIPE_NUM" />
		<result property="recipe_content" column="RECIPE_CONTENT" />
		<result property="member_nicname" column="MEMBER_NICNAME" />
		<result property="recipe_title" column="RECIPE_TITLE" />
		<result property="cook_original" column="COOK_ORIGINAL" />
		<result property="cook_db" column="COOK_DB" />
		<result property="recipe_readcount" column="RECIPE_READCOUNT" />
		<result property="recipe_best" column="RECIPE_BEST" />
		<result property="recipe_date" column="RECIPE_DATE" />
		<result property="category" column="CATEGORY" />
	</resultMap>


  <select id="detail_hit" resultType="DetailDto" parameterType="String">
	SELECT * FROM DETAIL
	WHERE category = #{category} 
	ORDER BY RECIPE_BEST DESC;
  </select>
  
    <select id="detail_new" resultType="DetailDto">
	SELECT * FROM DETAIL
	WHERE category = #{category}
	ORDER BY RECIPE_NUM DESC;
  </select>
  
   <select id="detail_rankbest" resultType="DetailDto">
	SELECT * FROM DETAIL
	WHERE RECIPE_BEST
	ORDER BY RECIPE_BEST DESC, RECIPE_NUM DESC;
  </select>
  
  <select id="detail_readbest" resultType="DetailDto">
	SELECT * FROM DETAIL
	WHERE RECIPE_READCOUNT
	ORDER BY RECIPE_READCOUNT DESC, RECIPE_NUM DESC;
  </select>
  
 <select id="detail_commentbest" resultType="DetailDto">
	SELECT * FROM DETAIL
	WHERE reply_num
	ORDER BY reply_num DESC, RECIPE_NUM DESC;
  </select>

</mapper>