<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="sauce">
  <resultMap type="sauceDto" id="sauceMap">
		<result property="recipe_num" column="RECIPE_NUM" />
		<result property="sauce_name" column="SAUCE_NAME" />
		<result property="sauce_amount" column="SAUCE_AMOUNT" />
	</resultMap>
	
	<select id="selectList" resultMap="sauceMap">
		SELECT *
		FROM SAUCE
		WHERE RECIPE_NUM = #{recipe_num}
	</select>
  </mapper>